{
	"extends": ["stylelint-config-recommended-scss"],
	"rules": {
		indentation: "tab",
		"selector-pseudo-class-no-unknown": [true, {
			"ignorePseudoClasses": ["global", "local"]
		}],
		"property-no-unknown":[true, {
            "ignoreProperties":["composes"]
        }],
		"color-hex-case": "lower"
	}
}
